.carchooser
  .choosetext
      | Wählen Sie ihr Auto!
    table.cars(cellpadding='0', border='0', cellspacing='0')
      tr
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Käfer"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_0.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_0.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Bus T1"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_1.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_1.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Bus T2"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_2.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_2.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Bus T3"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_3.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_3.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["Karmann Ghia"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_4.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_4.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Golf I"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_5.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_5.jpg')
        td
          a(href='{ebay.categories["Fahrzeuge"].sub["VW Golf II"]}')
            img.normal(alt=' ', src='#{source_url}/images/carchooser/car_0_6.jpg')
            img.hover(alt=' ', src='#{source_url}/images/carchooser/car_hover_0_6.jpg')